
td {
  font-size: 16px;
}

th{
  background-color: #e26c36;
  color: #2b302b;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
}
table {
  width: 95%;
  border: 3px solid white;
  border-collapse:separate;
  border-radius:12px;
}
th, td {
  padding: 15px;
  text-align: left;
  border-radius:4px;
}
tr:nth-child(even) {background-color: #f1eded;}

tr:nth-child(odd) {background-color: #ffffff;}

.mat-card{
  min-height:80px;
  min-width:100px;
  border-radius: 12px;
  background-color: #f1eded;
}

.mat-card-title{
  background:rgba(0,0,0,.06);
  padding:20px 20px;
  font-size:15px;
  color: #f2f2f2;
  border-radius: 6px;
  text-align: center;
}

.mat-card-content{
  padding:1em;
  text-align:center;
  color: #1f211f;
  font-size: 30px;
}

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.form-inline label {
  margin: 5px 10px 5px 0;
  padding-left: 5px;
}

.form-inline input {
  vertical-align: middle;
  margin: 0;
  padding: 10px;
  height: 30px;
  background-color: #f2f0ee;
  border: none;
  color: #555;
  font-size: 16px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  border-right: 1px solid #555;
}

.form-inline button.booking-form--submit {
  padding: 10px 30px;
  background-color: #436f9b;
  border: 1px solid #436f9b;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  height: 50px;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  transition-duration: 0.5s;
}

.form-inline button:hover {
  background-color: #f44336;
  color: white;
}

@media (max-width: 1085px) {
  .form-inline input,
  .form-inline select,
  .form-inline button{
    margin: 10px 0;
    border-right: 20px !important;
  }

  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}

select.soflow,
select.soflow-color {
  -webkit-appearance: button;
  -webkit-border-radius: 0px;
  background-image: #f2f0ee;
  background-position: 97% center;
  background-repeat: no-repeat;
  background-color: #f2f0ee;
  font-family: "Montserrat", sans-serif;
  height: 50px;
  color: #555;
  font-size: 16px;
  border-right: 1px solid #555;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  overflow: hidden;
  text-align-last: center;
  padding: 5px 10px;
  white-space: nowrap;
  min-width: 120px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  transition: opacity 250ms;
  visibility: hidden;
  opacity: 0;

/* Dialog fades in when it matches an anchor target */
&:target {
   visibility: visible;
   opacity: 1;
 }
}

.dialog-body {
  position: relative;
  margin: 50px auto;
  width: 300px;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
h2 {
  margin-top: 0;
  font-family: sans-serif;
  color: #333;
}

/*To make the content body scrollable
once the content exceeds a certain height.*/
.content {
  max-height: 400px;
  overflow: auto;
}

.close {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 20px;
  right: 20px;
  color: #333;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
&:hover,
&:focus {
   color: hsl(0, 56%, 30%);
 }
}
}

.button1 {
  background-color: #436f9b;
  color: #ffffff;
  border: 2px solid #f44336;
}

.button1:hover {
  background-color: #f44336;
  color: white;
}

.button {
  border: none;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.5s;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 3px 3px #e9e4e4;;
}

.rcorners1 {
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px;
}
p{
  font-size: 16px;
}

