.layout-content {
  z-index: 1;
  background: #ffffff;
  padding-left:100px;
  box-sizing: border-box;
  width:100%;
  top: 65px;
  position:absolute;
  min-height:300px;
}

.layout-header {
  background: #ffffff;
  padding-left:100px;
  box-sizing: border-box;
  width:100%;
  position:absolute;
  height:65px;
}

