<div id="cont">
  <div id="menu-fixed">

    <a href="#cont">
      <i class="material-icons back">&#xE314;</i>
    </a>
    <a href="#menu-fixed">
      <div class="logo">
        <span></span>
        <p style="margin-top: 10px">Daimond</p>
      </div>
      <p class="pmenu">MENU</p>
    </a>
    <hr>
    <ul class="menu">
      <li href="javascript:void(0)" [routerLink]="['/dashboard']" ><i class="material-icons">dashboard</i><p >Dashboard</p></li>
      <li href="javascript:void(0)" [routerLink]="['/attendance']"><i class="material-icons">people</i><p>Attendance</p></li>
      <li href="javascript:void(0)" [routerLink]="['/leave']"><i class="material-icons">no_transfer</i><p>Leave</p></li>
      <li href="javascript:void(0)" [routerLink]="['/payslip']"><i class="material-icons">local_atm</i><p>Payroll</p></li>
      <li><i class="material-icons">cancel</i><p>Sign Out</p></li>
    </ul>
    <i class="material-icons info">&#xE88E;</i>
  </div>
</div>


