mat-card{
  height:400px;
  min-width:280px;
  border-radius: 12px;
  background-color: #f1eded;
}

mat-card-title{
  background:rgba(0,0,0,.06);
  padding:10px 10px;
  font-size:18px;
  color: #f2f2f2;
  border-radius: 6px;
  text-align: center;
}
.card1{
  background-color: #3ab44a;

}
.card2{
  background-color: #2b9db2;

}
.card3{
  background-color: #eca40e;

}
.card4{
  background-color: #e73238;

}
mat-card-content{
  padding:10px 10px;
  text-align:center;
  color: #1f211f;
  font-size: 30px;
}

.button1 {
  background-color: #436f9b;
  color: #ffffff;
  border: 2px solid #436f9b;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.5s;
  cursor: pointer;
  box-shadow: 3px 3px #e9e4e4;
  border-radius: 8px;
}

.button1:hover {
  background-color: #f44336;
  border: 2px solid #f44336;
}

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.form-inline label {
  margin: 5px 10px 5px 0;
}

.form-inline input {
  vertical-align: middle;
  margin: 0;
  padding: 10px;
  height: 30px;
  background-color: #f2f0ee;
  border: none;
  color: #555;
  font-size: 16px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  border-right: 1px solid #555;
}

.form-inline button.booking-form--submit {
  padding: 10px 30px;
  background-color: #436f9b;
  border: 1px solid #436f9b;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  height: 50px;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  transition-duration: 0.5s;
}

.form-inline button:hover {
  background-color: #f44336;
  color: white;
}

@media (max-width: 1085px) {
  .form-inline input,
  .form-inline select,
  .form-inline button{
    margin: 10px 0;
    border-right: 20px !important;
  }

  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}

select.soflow,
select.soflow-color {
  -webkit-appearance: button;
  -webkit-border-radius: 0px;
  background-image: #f2f0ee;
  background-position: 97% center;
  background-repeat: no-repeat;
  background-color: #f2f0ee;
  font-family: "Montserrat", sans-serif;
  height: 50px;
  color: #555;
  font-size: 16px;
  border-right: 1px solid #555;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  overflow: hidden;
  text-align-last: center;
  padding: 5px 10px;
  white-space: nowrap;
  min-width: 120px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  transition: opacity 250ms;
  visibility: hidden;
  opacity: 0;

/* Dialog fades in when it matches an anchor target */
&:target {
   visibility: visible;
   opacity: 1;
 }
}

.dialog-body {
  position: relative;
  margin: 50px auto;
  width: 300px;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
h2 {
  margin-top: 0;
  font-family: sans-serif;
  color: #333;
}

/*To make the content body scrollable
once the content exceeds a certain height.*/
.content {
  max-height: 400px;
  overflow: auto;
}

.close {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 20px;
  right: 20px;
  color: #333;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
&:hover,
&:focus {
   color: hsl(0, 56%, 30%);
 }
}
}

.rcorners1 {
  border-radius: 12px;
  border: 2px solid #73AD21;
  padding: 20px;
  background-color:white;
}

/*///////////////////////////////////////////////////
    // Skill Bars \\
///////////////////////////////////////////////////*/
.skillBar {
  margin-bottom:26px;
  margin-bottom: 1.66em;
h4 {
  font-size:16px;
  font-size: 1.33em;
  text-transform: none;
  font-weight: bold;
  margin-bottom:2px;
  margin-bottom: .1em;
}
}
.skillBarContainer {
  width: 100%;
  max-width: 350px;
  height:8px;
  background: #e6eae3;
  background: rgb(8,102,220);
  background: rgba(8,102,220,.2);
  overflow: hidden;
  border-radius:5px;
}
.skillBarValue {
  height: 1.66em;
  float: left;
  background:#0866dc;
  background: rgb(8,102,220);
  background: rgba(8,102,220,.75);
}

/* Allowed values for the css skill bars */
.value-00  { width: 0;    }
.value-10  { width: 10%;  }
.value-20  { width: 20%;  }
.value-30  { width: 30%;  }
.value-40  { width: 40%;  }
.value-50  { width: 50%;  }
.value-60  { width: 60%;  }
.value-70  { width: 70%;  }
.value-80  { width: 80%;  }
.value-90  { width: 90%;  }
.value-100 { width: 100%; }



table {
  border: 3px solid white;
  border-collapse:separate;
  border-radius:12px;
}
th, td {
  padding: 2px;
  text-align: left;
  border-radius:4px;
}

td {
  font-size: 16px;
}

th{
  background-color: #e26c36;
  color: #2b302b;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
}
tr:nth-child(even) {background-color: #f1eded;}

tr:nth-child(odd) {background-color: #ffffff;}


